Subject: SHPE 2025 Follow up - {position} ---

<div style="font-family: Arial, sans-serif; font-size: 11pt; line-height: 1.5">
  <p>Dear {first_name},</p>

  <p>
    I hope you're doing well. This is Lam Anh Truong. It was a pleasure meeting
    you at
    <strong>SHPE 2025</strong>. I really enjoyed our conversation about the
    <strong>{position}</strong> role at <strong>{company}</strong>.
  </p>

  <p>
    I want to share with you the memory that I took. At the same time, I do want
    to follow up to know about our next step since my name was input into
    {company}'s pipeline by the recruiter at the booth. I would really
    appreciate if you can let me know.
  </p>

  <p>{dynamic_image_tag}</p>

  <p>
    Thank you again for your time and consideration. I've re-attached my resume
    and certificates for your convenience and look forward to connecting soon.
  </p>

  <p>
    Best regards,<br />
    {your_name}<br />
    {your_phone_number}<br />
    {your_email}<br />
    {your_city_and_state}
  </p>
</div>
