Subject: SHPE 2025 Interview Slot for {position} at {company} - {your_name} ---
<div style="font-family: Arial, sans-serif; font-size: 11pt; line-height: 1.5">
  <p>Dear {first_name},</p>

  <p>I hope you're doing well.</p>

  <p>
    My name is Lam Anh Truong, a computer science student, and I'm very
    interested in the <strong>{position}</strong> role at
    <strong>{company}</strong> which I have already applied for.<br />
    {value_prop_sentence}
  </p>

  <p>
    I will go to <strong>SHPE 2025</strong> in Philadelphia, and I have attached
    my resume for your reference.<br />
    Below is a short summary:
  </p>

  <ul>
    <li>
      I am a master in <strong>Python</strong>, <strong>C++</strong>,
      <strong>Javascript</strong>, and <strong>React</strong>.
    </li>
    <li>
      I created an AI-powered FAQ chatbot for <strong>2K+</strong> students and
      <strong>100+</strong> staff.
    </li>
    <li>
      I led <strong>7 people</strong> to integrated job posting platforms for
      <strong>10 clients</strong> and transfer <strong>500+</strong> monthly
      jobs.
    </li>
    <li>
      I tutored Data Structure and Algorithms using <strong>C++</strong> for
      <strong>300+</strong> students with <strong>80%</strong> passing rate.
    </li>
    <li>My React project generated <strong>$1K+</strong>.</li>
  </ul>

  <p>
    I would appreciate the chance to discuss how my background aligns with this
    role and would love to arrange an interview.<br />
    If there are available interview slots during or after the event, I would be
    happy to coordinate with your schedule.
  </p>

  <p>
    Thank you for your time and consideration. I look forward to connecting with
    you soon.
  </p>

  <p>
    Best regards,<br />
    {your_name}<br />
    {your_phone_number}<br />
    {your_email}<br />
    {your_city_and_state}
  </p>
</div>
